:root {
     --primary-color: #f0f0f0;
     --secondary-color: #333;
     --info-color: rgb(33, 159, 168);
     --border-radius: 0.25rem;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem;
}

.left {
     display: flex;
     align-items: center;
}

.arrow img {
     width: 1.5rem;
     height: auto;
     margin: 0 1rem;
}

.right {
     margin-left: auto;
     padding: 5px 10px;
     border: none; 
     font-size: 1.2rem;
     cursor: pointer;
     color: rgb(179, 179, 10);
     background-color: #fff;
}

.profileContainer {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     height: 80vh;
     /* border: 1px solid black; */
}

.profilePic {
     align-self: center;
}

.profilePic img {
     height: 150px;
     width: auto;
     border-radius: 50%;
     background-color: var(--info-color);
}

#deleteAccount {
     cursor: pointer;
     border: none;
     align-self: center;
     text-decoration: none;
     color: var(--info-color);
     padding: 5px 10px;
}

:is(#deleteAccount, .right):hover {
     background-color: var(--info-color);
     color: white;
     border-radius: var(--border-radius);
}